.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}



h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

button {
    cursor: pointer;
}

/* Common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width:1158px;
        padding: 0 15px;
    }

}

/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list, 
.contact-info {
    display: none;
}
.logo {
    padding: 16px 0;
    display: block;

    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

.burger-button {
    border: none;
    background-color: transparent;
    padding: 0;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
.burger-button {
       display: none;
    }
 .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
.nav-link {
    display: block;
    position: relative;
    padding: 24px 0;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link.current {
    color: #404BBF;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}
.contact-info {
    margin-left: auto;
    display: block;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-link {
    display: block;
    color: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

}

a:not(.logo, .logo-footer):hover,
a:not(.logo, .logo-footer):focus {
    color: #404BBF;
}
.page-nav {
    display: flex;
    align-items: center;
}
.logo {
    padding: 24px 0; 
    margin-right: 120px;
}

}

@media screen and (min-width: 1158px) {
.logo {
        padding: 24px 0;
        margin-right: 76px;
    }
.contact-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
 
}

}
 /* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close {
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-contact-info {
    margin-bottom: 48px;
}
 .mobile-menu-contact-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}
.mobile-menu-contact-link.accent {
    color: #4D5AE5;
}


.mobile-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-nav-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
 .current {
    color: #404BBF;
    }


.mobile-menu-social-media-icons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.icons {
    fill: #F4F4FD;
}
.mobile-menu-social-media-item a {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4D5AE5;
    border-radius: 50%;
}


 @media screen and (min-width: 768px) {
    .mobile-menu {
         display: none;
    }
 }

 /* Hero section */



 .section {
     max-width: 100%;
     padding-top: 96px;
     padding-bottom: 96px;
 }
 .section-hero {
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/hero-background.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     max-width: 432px;
     margin: 0 auto;
     padding-top: 72px;
     padding-bottom: 72px;
 }
 @media (min-resolution: 2x) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./../images/hero-background@2x.jpg);
    }
 } 

 .main-title {
     color: #FFFFFF;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 216px;

        margin-left: auto;
        margin-right: auto;

 }
 .main_button {
     display: block;
     cursor: pointer;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     font-size: 16px;
     color: #FFFFFF;
     background-color: #4D5AE5;
     margin: 72px auto 0 auto;
     border: none;
     border-radius: 4px;
     padding: 16px 32px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .main_button:hover,
 .main_button:focus {
     background-color: #404BBF;
 }







 @media screen and (min-width: 768px) {

.section-hero {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

.main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}
.main_button {
    margin: 36px auto 0 auto;
}

 }
 @media screen and (min-width: 1158px) {
.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .section-hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {
        line-height: 1.07143;
        font-size: 56px;
        max-width: 496px;

    }

    .main_button {
        margin: 48px auto 0 auto;
    }

 }



 /* Benefits section */


 .benefits-list {
     display: flex;
     align-items: flex-start;
     flex-wrap: wrap;
     gap: 72px;
 }

 .features-icons-container {
    display: none;
 }
.benefits-list-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
}
.benefits-text {
    font-weight: 500;
    margin-top: 8px;
}


 @media screen and (min-width: 768px) {
    
.benefits-list {
        gap: 72px 24px;
    }
.benefits-list-item {
    width: calc((100% - 24px) / 2);
}

.benefits-list-title {
    text-align: start;
}

.benefits-text {
    font-weight: 500;
    margin-top: 8px;
}

 }
  @media screen and (min-width: 1158px) {

    .benefits-list-item {
            width: calc((100% - 72px) / 4);
        }
    
.features-icons-container {
    width: 100%;
    height: 112px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;

}

.benefits-text {
    font-weight: 400;
    margin-top: 8px;
}
.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

}