



/* Portfolio section */



/* Footer */



/* Modal */


.modal {

    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;

 
    
}


.text-field {
        width: 360px;

}


.comment {
    width: 360px;

}



